@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}
body{
	background-color: #f2f2f2;
}
header{
	
	padding:50px 0;
}
/*MENU TOP*/
.menu--top{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding:0 100px;
}
.menu--top--left{
	cursor: pointer;
}
.menu--top--right{
	display: flex;
	align-items: center;
}
.menu--top--right--social{
	display: flex;
	margin-right: 227px;
}
.menu--top--right--social--item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border:1px solid #e3e3e3;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
	color: #999999;
	overflow: hidden;/*Para evitar que os icones vao para cima quando tiverem hover*/
}
.menu--top--right--social--item i{
	transition: all ease-out 0.3s;
}
.menu--top--right--social--item:hover{
color: #4057ba;
background-color: #fff;
border-color: #4057ba;
}
@keyframes translateSocial{
	0%{
		opacity: 0;
		transform: translateY(-200%);
	}
}
.menu--top--right--social--item:hover i{
	animation-name: translateSocial;
	animation-duration: 0.3s;
}
.menu--top--right--search form{
	display: flex;
	margin-right: 20px;
}
.menu--toggle{
	display: none;
}
.menu--toggle img{
	width: 45px;
	height: 45px;
	cursor: pointer;
}
	.menu--top--right--search form button{
		background:transparent;
		border:none;
		font-size: 23px;
		color: #aaa;
		margin-left: -30px;
		cursor: pointer;
	}
.menu--top--right--search form input{
	padding: 5px 50px 5px 0;
	border-color: #ccc;
	border-radius: 5px;
}
/*END OF MENU TOP*/

/*MENU BOTTOM*/
	.menu--bottom{
		background-color: #4057ba;
	}
	.removeMargin{
		margin-left: 0!important;
		transition: all ease-in 0.4s;
	}
	.menu--bottom nav ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.menu--bottom nav ul li{
		padding:15px 67px 15px 30px;
	}
	.menu--bottom nav ul li:hover{
		transition: all ease-in 0.3s;
		background-color: #027974;
	}
	.menu--bottom nav ul li a{
		text-transform: uppercase;
		color: #e9e9e9;
		font-weight: 700;
	}
	.menu--bottom nav ul li a:hover{
		color: #fff;
	}
	.menu--bottom nav ul li .submenu{
		width: 250px;
		position: absolute;
		background-color: #027974;
		margin-top: 15px;
		padding:10px 0;
		margin-left: -30px;/*Gambiarra*/
		text-align: center;
		line-height: 40px;
		font-size: 0.8rem;
		display: none;
	}
	.menu--bottom nav ul li:hover .submenu{
		display: block; 
	}

	.submenu--item:hover{
		background-color: #03928c;
	}
/*END OF MENU BOTTOM*/

/*SECRETARIA VIRTUAL*/
.secretaria--virtual{
	margin:0 200px 20px 200px;
}
.secretaria--virtual--item fieldset{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px 20px;
}
.secretaria--virtual--item:hover fieldset{
	background-color: #fff;
}
.secretaria--virtual--item fieldset legend{
	color: #444444;
}
.secretaria--virtual--item--text{
	text-align: center;
	width: 400px;
	color: #5284e7;
}
.helpIcons{
	position: fixed;
	right: 0;
	top: 250px;
}
.helpIcons--item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 50px;
	background-color: #6b82a2;
	border-bottom: 1px solid #7c91ae;
	cursor: pointer;
}
.helpIcons--item i{
	color: #bfcfe6;
	font-size: 1.4rem;
}
.helpIcons--item:first-child{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.helpIcons--item:last-child{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; 
	border-bottom: 0;
}
.helpIcons--box{
	position: fixed;
	width: 300px;
	background-color: #fff;
	padding:10px 15px 50px 15px;
	/*right: 45px;*/
	right: -300px;
	top: 250px;
	border:6px solid #6b82a2;
	transition: all ease-out 0.4s;
}
.helpIcons--box--title{
	padding:15px 0 15px 20px;
	background-color: #4057ba;
	margin-bottom: 25px;
	color: #fff;
}
.helpIcons--box--text{
	text-align: center;
	color: #666666;
}
.helpIcons--box--text span{
	display: inline-block;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: #c94943;
	text-align: center;
	line-height: 23px;
	color: #fff;
}
.alignment{
	text-align: left;
}
.setRight{
	right: 45px;
}
/*END OF SECRETARIA VIRTUAL*/

/*MAIN*/
.mainContent{
	display: flex;
	justify-content: center;
}
	.main--container{
		padding:10px;
		background-color: #fff;
		display: flex;
	}
	.main{
		display: flex;
		flex-direction: column;
	}
	.main--container{
		display: grid;
		grid-template-columns: 2.5fr 1fr;
	}
	.video--title{
		color: #fff;
		background-color: #4057ba;
		padding:20px;
		text-align: center;
		font-weight: 700;
	}
	.video--item{
		background-color: #028882;
		padding:10px;
		border-bottom: 1px solid #04cec6;
		width: 120px;
		cursor: pointer;
	}
	.video--item:hover img{
		opacity: 0.7;
	}
	.video--item:last-child{
		border-bottom: 0;
	}
	.video--item img{
		width: 100%;
		object-fit: cover;

	}
	.slider--item img{
		cursor: pointer;
		object-fit: cover;
	}
	.main--slider{
		overflow: hidden;
	}
	.slider--width{
		width: 350px;
		display: flex;
	}
	
	/*JOURNAL*/
		.main--top{
			display: flex;
		}
		.journal{
			padding:10px 20px;
			background-color: #f2f2f2;
		}
		.journal--top{
			display: flex;
			align-items: center;
			margin-bottom: 25px;
		}
		.journal--top h2{
			background-color: #4057ba;
			padding:8px 20px;
			color: #fff;
			cursor: pointer;
		}
		.journal--top h1{
			color: #444444;
			font-size:1.2rem;
			cursor: pointer;
		}
		.journal--top h1:hover{
			color: #4057ba;
		}
		.journal--top h2:hover{
			background-color: #027974;
		}
		.journal--middle--item h2{
			margin-bottom: 5px;
			color: #444444;
		}
		.journal--middle--item{
			border-bottom: 1px solid #dfdfdf;
			padding:10px 50px 25px 10px;
			cursor: pointer;
		}
		.journal--middle--item:last-child{
			border-bottom: 0;
		}
		.journal--middle--item:hover{
			background-color: #fff;
		}
	/*END OF JOURNAL*/
	.main--bottom{
		margin-top: 10px;
	}
	.main--bottom--titles{
		display: flex;
	}
	.main--bottom--title{
		padding:20px 0 20px 20px;
		font-size: 1.2rem;
		color: #444444;
	}
	.main--bottom--title.fixedWidth{
		padding-right: 40px;
		background-color: #fff;
	}
	.main--bottom--title.gray{
		flex:1;
		background-color: #e4e4e4;
	}
	.main--bottom--title--big{
		padding:20px 0 20px 20px;
		text-align: center;
		color: #fff;
		background-color: #4057ba;
		margin-left: -10px;
		margin-bottom: 25px;
		font-size: 1.3rem;
	}
	.news--and--events{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		align-items: center;
		gap:20px;
	}
	.news--and--events--item--title{
		width: 200px;
		font-size: 0.9rem;
		margin-top: 10px;
		margin-bottom: 12px;
		text-align: center;
		font-weight: 700;
	}
	.news--and--events--item--small{
		color: #999999;
		margin-bottom: 10px;
		font-size: 0.8rem;
	}
	.news--and--events--item--img{
		cursor: pointer;
	}
	.news--and--events--item--img img{
		width: 100%;
		object-fit: cover;
	}
	.news--and--events--item{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	.bunch--of--links{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 25px;
	}
	.bunch--of--links--title{
		color: #666666;
		font-weight: 700;
	}
	.bunch--of--links--item{
		text-align: center;
		font-weight: 700;
		font-size: 0.8rem;
		cursor: pointer;
	}
	.bunch--of--links--item:hover{
		background-color: #515151;
	}
	.bunch--of--links--item:hover a{
		color: #fff;
	}
	.bunch--of--links--item--wrapper{
		line-height: 30px;
		padding:0 80px;
	}
	
	.facebook--title{
		padding:20px;
		background-color: #4057ba;
		font-weight: 700;
		color: #fff;
		text-align: center;
		margin-bottom: 15px;
	}
	.social--sharing{
		background-color: rgba(0,0,0,.7);
		height: 600px;
	}
	.social--sharing h1{
		color: #fff;
		line-height: 600px;
		text-align: center;
		font-size: 2rem;
	}
	.warnings--title{
		padding:20px;
		background-color: #000;
		color: #fff;
		font-weight: 700;
		font-size: 1.2rem;
		text-align: center;
	}
	.warnings--content{
		background-color: #404040;
		padding:15px;
	}
	.warnings--content--item{
		display: flex;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #666666;
	}
	.warnings--content--item:first-child{
		border-top: 0;
	}
	.image--and--text{
		margin-right: 10px;
		overflow: hidden;
		width: 100px;
	}
	.text--only{
		color: #fff;
		font-weight: 700;
		cursor: pointer;
	}
	.text--only:hover{
		color: #4057ba;
	}

	.images--container--item img{
		width: 100px;
		height: 60px;
		object-fit: cover;
	}
	.comunicado--date{
		width: 100px;
		height: 60px;
		background-color: #4057ba;
		color: #fff;
		text-align: center;
		padding:15px;
		font-weight: 700;
	}
	.images--container{
		display: flex;
		transition: all ease-in 0.3s;
		cursor: pointer;
	}
	.images--container:hover{
		margin-left: -100px;
	}
	.courses--title{
		background-color: #4057ba;
		padding:20px;
		text-align: center;
		color: #fff;
		font-weight: 700;
	}
	.courses--item{
		display: flex;
		align-items: center;
		background-color: #028882;
		padding:10px 0 25px 10px;
		border-top: 1px solid #04cec6;
		cursor: pointer;
	}
	.courses--item:hover .courses--item--img img{
		opacity: 0.7;
	}
	
	.courses--item--img{
		margin-right: 10px;
	}
	.courses--item--text{
		font-weight: 700;
		color: #fff;
	}
/*END OF MAIN*/
/*FOOTER*/
.first--header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:20px 70px;
	background-color: #000000;
}
.first--header--left{
	font-weight: 700;
}
.first--header--left a{
	padding-right: 10px;
	border-right: 1px solid #252525;
}
.first--header--left span{
	color: #fff;
	font-weight: 700;
	margin-left: 10px;
}
.first--header--right a{
	color: #fff;
	font-weight: 700;
}
.quick--links{
	background-color: #2b2b2b;
	padding-left: 70px;
	padding-top: 30px;
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}
.quick--links--item--title{
	color: #fff;
	font-weight: 700;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	border-bottom: 1px solid #414141;
	margin-bottom: 30px;
}
.quick--links--item{
	margin-right: 25px;
}
.quick--links--item:last-child{
	margin-right: 0;
}
.quick--links--item--links--inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.quick--links--item--links--inner a{
	margin-bottom: 10px;
	color: #ccc;
}
.quick--links--item--links--inner a:hover{
	color: #4057ba;
}
.quick--links--item--links--inner span{
	color: #666666;
}
.banner{
	background-color: #2b2b2b;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	cursor: pointer;
}
.contacts{
	background-color: #2b2b2b;
	padding-left: 120px;
	padding-bottom: 20px;
}
.contacts--item{
	border-left: 1px solid #414141;
	padding-left: 15px;
	padding-bottom: 20px;
}
.contacts--title{
	color: #fff;
	font-weight: 700;
	margin-bottom: 25px;
}
.contacts--item--street, .contacts--item--number, .contacts--item--email{
	margin-bottom: 10px;
}
.contacts--item--street, .contacts--item--number{
	color: #ccc;
}
.contacts--item--email a{
	color: #4057ba;
	font-weight: 700;
}
.contacts--item--email{
	margin-bottom: 35px;
}
.contacts--item--button button{
	padding:7px 25px;
	cursor: pointer;
	color: #fff;
	background-color: #4057ba;
	border:none;
	text-transform: uppercase;
	font-size: 0.8rem;
}
.contacts--item--button button:hover{
	background-color: #027974;
}
.last--header{
	background-color: #000;
	color: #999999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:30px 0;
	font-size: 0.9rem;
}
.last--header--item span{
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}
.last--header--item span:hover{
	color:#4057ba;
}
/*END OF FOOTER*/

/*LAPTOP VERSION - 1024px*/
	@media(min-width: 1024px) and (max-width: 1439px){
		.menu--bottom nav ul li a{
		text-transform: uppercase;
		font-size: 0.8rem;
	}
	.menu--bottom nav ul li{
		padding:15px 20px 15px 20px;
	}
	.menu--bottom nav ul li .submenu{
		width: 220px;
	}
	}
/*END OF LAPTOP VERSION*/

/*TABLET VERSION - 768px*/
@media(min-width: 768px) and (max-width: 1023px){
	/*MENU--TOP*/
	.menu--toggle{
	display: block;
}
	.menu--top{
		padding:0 50px;
	}
	.menu--top--left--logo img{
		width: 150px;
		object-fit: cover;
	}
	.menu--top--right--social{
	margin-right: 15px;
}
	/*END OF MENU--TOP*/
	
	/*MENU--BOTTOM*/
	.menu--bottom{
		width: 45vw;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		padding-top: 70px;
		margin-left: -45vw;
	}
		.menu--bottom nav ul{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.menu--bottom nav ul li{
		width: 100%;
		padding:20px 30px;
		text-align: center;
	}
	.menu--bottom nav ul li:hover .submenu{
		display: none; 
	}
	.menu--bottom nav ul li .submenu{
		width: 100%;
	}
	.menu--bottom nav ul li .submenu a{
		color: #aaa;
	}
	/*END OF MENU--BOTTOM*/

	/*SECRETARIA VIRTUAL*/
		.secretaria--virtual{
	margin:0 50px 20px 50px;
}
		.secretaria--virtual--item--text{
			width: 280px;
}
		.helpIcons--box{
			width: 260px;
			padding:10px 15px 30px 15px;
			/*right: 45px;*/
}
.helpIcons--box--title{
	font-size: 0.9rem;
}
.helpIcons--box--text{
	font-size: 0.9rem;
}
	/*END OF SECRETARIA VIRTUAL*/
	
	/*MAINCONTENT*/
		.main--container{
			grid-template-columns: 1fr 1fr;
		}
		/*MENU--TOP*/
		.main--top{
			flex-direction: column;
		}
		.video--title{
		padding:20px;
		font-size: 0.9rem;
	}
		.video--item{
			width: 100%;
	}
		.slider--width{
			width: 350px;
	}
		.slider--item img{
		width: 374px;
	}
		.journal--middle--item{
			padding:10px 10px 25px 10px;
		}
		.journal--middle--img img{
			width: 100%;
		}
		/*END OF MENU--TOP*/

		/*MENU--BOTTOM*/
			.main--bottom--title{
				font-size: 1rem;
	}
			.main--bottom--title--big{
				font-size: 1.1rem;
			}
			.news--and--events{
				grid-template-columns: repeat(2,1fr);
				align-items: flex-end;
				gap:0;
			}
		.news--and--events--item--title{
				width: 160px;
				font-size: 0.7rem;
			}
		/*END OF MENU--BOTTOM*/

		/*ASIDE*/
			.facebook--title{
				font-size: 0.9rem;
				margin-bottom: 0px;
		}
		.warnings--title{
		padding:15px 20px;
			font-size: 1rem;
		}
		.text--only{
			font-size: 0.8rem;
		}
		.courses--title{
			padding:15px 20px;
			font-size: 1rem;
		}
		.courses--item--text{
			font-size: 0.8rem;
		}
		/*END OF ASIDE*/
	/*END OF MAINCONTENT*/
	
	/*FOOTER*/
		.quick--links{
			padding-left: 30px;
			padding-top: 20px;
			padding-bottom: 30px;
}
	.quick--links--item--title{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;
		font-size: 0.7rem;
}
	.quick--links--item{
		margin-right: 15px;
	}
	.quick--links--item--links--inner a{
		font-size: 0.7rem;
	}
	.quick--links--item--links--inner span{
		font-size: 0.7rem;
	}

	.banner img{
				width: 600px;
			}
			.contacts{
			padding-left: 90px;
	}
	.contacts--title{
		font-size: 0.9rem;
}
.contacts--item--street, .contacts--item--number, .contacts--item--email{
	font-size: 0.9rem;
}
	/*END OF FOOTER*/
}
/*END OF TABLET VERSION*/

/*MOBILE VERSION - 425px*/
@media(min-width: 425px) and (max-width: 767px){
	/*MENU--TOP*/
	.menu--toggle{
	display: block;
	position: absolute;
	top: 8%;
	right: 5%;
}
	
	.menu--top--right--search form input{
	padding: 5px 140px 5px 0;
}
	.menu--top{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding:0 16px;
	}
	.menu--top--right{
		flex-direction: column;
	}
	
	.menu--top--right--social{
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
	/*END OF MENU--TOP*/
	
	/*MENU--BOTTOM*/
	.menu--bottom{
		width: 45vw;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		padding-top: 70px;
		margin-left: -45vw;
	}
		.menu--bottom nav ul{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.menu--bottom nav ul li{
		width: 100%;
		padding:20px 30px;
		text-align: center;
		font-size: 0.8rem;
	}
	.menu--bottom nav ul li:hover .submenu{
		display: none; 
	}
	.menu--bottom nav ul li .submenu{
		width: 100%;
	}
	.menu--bottom nav ul li .submenu a{
		color: #aaa;
		font-size: 0.6rem;
	}
	/*END OF MENU--BOTTOM*/

	/*SECRETARIA VIRTUAL*/
		.helpIcons{
			display: none;
		}
		.secretaria--virtual{
	margin:0 50px 20px 50px;
	}

		.secretaria--virtual--item--text{
					width: 250px;
					margin-top: 10px;
				}
				fieldset{
					flex-direction: column;
				}
		
	/*END OF SECRETARIA VIRTUAL*/
	
	/*MAINCONTENT*/
		.main--container{
			grid-template-columns: 1fr;
		}
		/*MENU--TOP*/
		.main--top{
			flex-direction: column;
		}
		.video--title{
		padding:20px;
		font-size: 0.8rem;
	}
		.video--item{
			width: 100%;
	}
		.slider--width{
			width: 350px;
	}
		.slider--item img{
		width: 95vw;
	}
		.journal--middle--item{
			padding:10px 10px 25px 10px;
		}
		.journal--middle--img img{
			width: 100%;
		}
		/*END OF MENU--TOP*/

		/*MENU--BOTTOM*/
			.main--bottom--title{
				font-size: 0.8rem;
	}
			.main--bottom--title--big{
				font-size: 0.9rem;
			}
			.news--and--events{
				grid-template-columns: repeat(2,1fr);
				align-items: flex-end;
				gap:0;
			}
		.news--and--events--item--title{
				width: 130px;
				font-size: 0.5rem;
			}
			.bunch--of--links--item a{
				font-size: 0.5rem;
			}
		/*END OF MENU--BOTTOM*/

		/*ASIDE*/
			.facebook--title{
				font-size: 0.7rem;
				margin-bottom: 0px;
		}
		.social--sharing{
			height: 300px;
		}
		.social--sharing h1{
			line-height: 300px;
			font-size: 1.5rem;
		}
		.warnings--title{
		padding:15px 20px;
			font-size: 0.8rem;
		}
		.text--only{
			font-size: 0.6rem;
		}
		.courses--title{
			padding:15px 20px;
			font-size: 0.8rem;
		}
		.courses--item--text{
			font-size: 0.6rem;
		}
		/*END OF ASIDE*/
	/*END OF MAINCONTENT*/
	
	/*FOOTER*/
	.first--header{
		padding:15px 35px;
	}
	.first--header a, span{
		font-size: 0.7rem;
	}
		.quick--links{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			padding-left: 0px;
			padding-top: 10px;
			padding-bottom: 15px;
	}
	.quick--links--item--title{
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 10px;
		font-size: 0.7rem;
}
	.quick--links--item{
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.quick--links--item--links--inner a{
		font-size: 0.7rem;
	}
	.quick--links--item--links--inner span{
		font-size: 0.7rem;
		margin-bottom: 25px;
	}

	.banner img{
				width: 300px;
				margin-top: 20px;
				object-fit: cover;
			}
			.contacts{
			padding-left: 90px;
	}
	.contacts--title{
		font-size: 0.7rem;
}
.contacts--item--street, .contacts--item--number, .contacts--item--email{
	font-size: 0.7rem;
}
.last--header{
	padding:30px;
	font-size: 0.6rem;
	text-align: center;
	}
	/*END OF FOOTER*/
}
/*END OF MOBILE VERSION*/

/*MOBILE VERSION - 375px*/
@media(min-width: 375px) and (max-width: 424px){
	/*MENU--TOP*/
	.menu--toggle{
	display: block;
	position: absolute;
	top: 8%;
	right: 5%;
}
	
	.menu--top--right--search form input{
	padding: 5px 140px 5px 0;
}
	.menu--top{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding:0 16px;
	}
	.menu--top--right{
		flex-direction: column;
	}
	
	.menu--top--right--social{
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
	/*END OF MENU--TOP*/
	
	/*MENU--BOTTOM*/
	.menu--bottom{
		width: 45vw;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		padding-top: 70px;
		margin-left: -45vw;
	}
		.menu--bottom nav ul{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.menu--bottom nav ul li{
		width: 100%;
		padding:20px 30px;
		text-align: center;
		font-size: 0.6rem;
	}
	.menu--bottom nav ul li:hover .submenu{
		display: none; 
	}
	.menu--bottom nav ul li .submenu{
		width: 100%;
	}
	.menu--bottom nav ul li .submenu a{
		color: #aaa;
		font-size: 0.5rem;
	}
	/*END OF MENU--BOTTOM*/

	/*SECRETARIA VIRTUAL*/
		.helpIcons{
			display: none;
		}
		.secretaria--virtual{
	margin:0 25px 20px 25px;
	}

		.secretaria--virtual--item--text{
					width: 250px;
					margin-top: 10px;
				}
				fieldset{
					flex-direction: column;
				}
		
	/*END OF SECRETARIA VIRTUAL*/
	
	/*MAINCONTENT*/
		.main--container{
			grid-template-columns: 1fr;
		}
		/*MENU--TOP*/
		.main--top{
			flex-direction: column;
		}
		.video--title{
		padding:20px;
		font-size: 0.8rem;
	}
		.video--item{
			width: 100%;
	}
		.slider--width{
			width: 350px;
	}
		.slider--item img{
		width: 95vw;
	}
		.journal--top h1, h2{
			font-size: 0.8rem;
		}
		.journal--middle--item{
			padding:10px 10px 25px 10px;
		}
		.journal--middle--img img{
			width: 100%;
		}
		/*END OF MENU--TOP*/

		/*MENU--BOTTOM*/
			.main--bottom--title{
				font-size: 0.8rem;
	}
			.main--bottom--title--big{
				font-size: 0.9rem;
			}
			.news--and--events{
				grid-template-columns: repeat(2,1fr);
				align-items: flex-end;
				gap:0;
			}
		.news--and--events--item--title{
				width: 130px;
				font-size: 0.5rem;
			}
			.bunch--of--links--item a{
				font-size: 0.5rem;
			}
		/*END OF MENU--BOTTOM*/

		/*ASIDE*/
			.facebook--title{
				font-size: 0.7rem;
				margin-bottom: 0px;
		}
		.social--sharing{
			height: 300px;
		}
		.social--sharing h1{
			line-height: 300px;
			font-size: 1.5rem;
		}
		.warnings--title{
		padding:15px 20px;
			font-size: 0.8rem;
		}
		.text--only{
			font-size: 0.6rem;
		}
		.courses--title{
			padding:15px 20px;
			font-size: 0.8rem;
		}
		.courses--item--text{
			font-size: 0.6rem;
		}
		/*END OF ASIDE*/
	/*END OF MAINCONTENT*/
	
	/*FOOTER*/
	.first--header{
		padding:15px 35px;
	}
	.first--header a, span{
		font-size: 0.7rem;
	}
		.quick--links{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			padding-left: 0px;
			padding-top: 10px;
			padding-bottom: 15px;
	}
	.quick--links--item--title{
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 10px;
		font-size: 0.7rem;
}
	.quick--links--item{
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.quick--links--item--links--inner a{
		font-size: 0.7rem;
	}
	.quick--links--item--links--inner span{
		font-size: 0.7rem;
		margin-bottom: 25px;
	}

	.banner img{
				width: 300px;
				margin-top: 20px;
				object-fit: cover;
			}
			.contacts{
			padding-left: 90px;
	}
	.contacts{
		padding-left: 50px;
	}
	.contacts--item--button a button{
		font-size: 0.6rem;
	}
	.contacts--title{
		font-size: 0.7rem;
}
.contacts--item--street, .contacts--item--number, .contacts--item--email{
	font-size: 0.7rem;
}
.last--header{
	padding:30px;
	font-size: 0.6rem;
	text-align: center;
	}
	/*END OF FOOTER*/
}
/*END OF MOBILE VERSION*/

/*MOBILE VERSION - 320px*/
@media(max-width: 374px){
	/*MENU--TOP*/
	.menu--toggle{
	display: block;
	position: absolute;
	top: 8%;
	right: 5%;
}
	
	.menu--top--right--search form input{
	padding: 5px 95px 5px 0;
}
	.menu--top{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding:0 16px;
	}
	.menu--top--left--logo img{
		width: 240px;
	}
	.menu--top--right{
		flex-direction: column;
	}
	
	.menu--top--right--social{
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
	/*END OF MENU--TOP*/
	
	/*MENU--BOTTOM*/
	.menu--bottom{
		width: 45vw;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		padding-top: 70px;
		margin-left: -45vw;
	}
		.menu--bottom nav ul{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.menu--bottom nav ul li{
		width: 100%;
		padding:20px 30px;
		text-align: center;
		font-size: 0.5rem;
	}
	.menu--bottom nav ul li:hover .submenu{
		display: none; 
	}
	.menu--bottom nav ul li .submenu{
		width: 100%;
	}
	.menu--bottom nav ul li .submenu a{
		color: #aaa;
		font-size: 0.5rem;
	}
	/*END OF MENU--BOTTOM*/

	/*SECRETARIA VIRTUAL*/
		.helpIcons{
			display: none;
		}
		.secretaria--virtual{
	margin:0 0px 15px 0px;
	}

		.secretaria--virtual--item--text{
					width: 235px;
					margin-top: 10px;
				}
				.secretaria--virtual--item fieldset{
					padding:5px 5px;
					flex-direction: column;
				}
		
	/*END OF SECRETARIA VIRTUAL*/
	
	/*MAINCONTENT*/
		.main--container{
			grid-template-columns: 1fr;
		}
		/*MENU--TOP*/
		.main--top{
			flex-direction: column;
		}
		.video--title{
		padding:20px;
		font-size: 0.8rem;
	}
		.video--item{
			width: 100%;
	}
		.slider--width{
			width: 300px;
	}
		.slider--item img{
		width: 95vw;
	}
		.journal--top h1, h2{
			font-size: 0.8rem;
		}
		.journal--middle--item{
			padding:10px 10px 25px 10px;
		}
		.journal--middle--img img{
			width: 100%;
		}
		/*END OF MENU--TOP*/

		/*MENU--BOTTOM*/
			.main--bottom--title{
				font-size: 0.8rem;
	}
			.main--bottom--title--big{
				font-size: 0.9rem;
			}
			.news--and--events{
				grid-template-columns: repeat(2,1fr);
				align-items: flex-end;
				gap:10px;
			}
		.news--and--events--item--title{
				width: 130px;
				font-size: 0.5rem;
			}
			
			.bunch--of--links--item a{
				font-size: 0.5rem;
			}
		/*END OF MENU--BOTTOM*/

		/*ASIDE*/
			.facebook--title{
				font-size: 0.7rem;
				margin-bottom: 0px;
		}
		.social--sharing{
			height: 300px;
		}
		.social--sharing h1{
			line-height: 300px;
			font-size: 1.5rem;
		}
		.warnings--title{
		padding:15px 20px;
			font-size: 0.8rem;
		}
		.text--only{
			font-size: 0.6rem;
		}
		.courses--title{
			padding:15px 20px;
			font-size: 0.8rem;
		}
		.courses--item--text{
			font-size: 0.6rem;
		}
		/*END OF ASIDE*/
	/*END OF MAINCONTENT*/
	
	/*FOOTER*/
	.first--header{
		padding:15px 35px;
	}
	.first--header a, span{
		font-size: 0.7rem;
	}
		.quick--links{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			padding-left: 0px;
			padding-top: 10px;
			padding-bottom: 15px;
	}
	.quick--links--item--title{
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 10px;
		font-size: 0.7rem;
}
	.quick--links--item{
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.quick--links--item--links--inner a{
		font-size: 0.7rem;
	}
	.quick--links--item--links--inner span{
		font-size: 0.7rem;
		margin-bottom: 25px;
	}

	.banner img{
				width: 300px;
				margin-top: 20px;
				object-fit: cover;
			}
			.contacts{
			padding-left: 90px;
	}
	.contacts{
		padding-left: 50px;
	}
	.contacts--item--button a button{
		font-size: 0.6rem;
	}
	.contacts--title{
		font-size: 0.7rem;
}
.contacts--item--street, .contacts--item--number, .contacts--item--email{
	font-size: 0.7rem;
}
.last--header{
	padding:30px;
	font-size: 0.6rem;
	text-align: center;
	}
	/*END OF FOOTER*/
}
/*END OF MOBILE VERSION*/